.playlist-card {
  display: block;
  width: 400px;
  height: 600px;
  background-color: rgba(128, 123, 123, 1);
  border-radius: 5%;
  margin: 1rem 5rem;
  position: absolute;
  outline-style: solid;
  outline-width: 5px;
  outline-color: white;
  transform: scale(0.85) translateY(50px);
  transition: all 0.75s ease;
}
.playlist-card:hover {
  background-color: rgba(48, 46, 46, 1);
}
.playlist-card img {
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
  object-fit: cover;
  padding: 50px;
}
.playlist-card h1 {
  width: 400px;
  height: calc(600px - 300px);
  text-align: center;
  text-overflow: ellipsis;
  overflow: scroll;
}

.prevCard {
  left: 0;
  opacity: 0.5;
}

.activeCard {
  left: calc(50% - 200px - 5rem);
  z-index: 5;
}

.nextCard {
  right: 0;
  opacity: 0.5;
}
.inactive {
  z-index: -10;
  visibility: hidden;
}
.inactive-left {
  left: 0;
  z-index: -10;
}
