#video{
    position:fixed;
    width:100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}
.login{
    height:100vh;
    width:100%;
    object-fit: contain;
}
.login .content{
    text-align: center;
    position:absolute;
    margin:auto;
    margin-left: 20%;;
    width: 60%;
    height: 100%;
    top: 20vh;
}
.login .content h1{
    font-size: 6rem;
    font-weight: 200;
}
.login .content h2{
    font-size: 3rem;
    font-weight: 100;
}
.login .content p{
    margin-top: 5vh;
    font-size: 2rem;
    font-weight: 250;
    margin-bottom: 5vh;
}

