#video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero-container {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}
.hero-container .content {
  text-align: center;
  position: absolute;
  margin: auto;
  margin-left: 20%;
  width: 60%;
  height: 100%;
  top: 40vh;
}
.hero-container .content h1 {
  font-size: 4rem;
  color: #fff;
  padding: 1.4rem;
}
.hero-container .content p {
  font-size: 1.8rem;
  font-weight: 300;
  padding-bottom: 7rem;
  margin-bottom: -3rem;
}
.hero-container .content .btn {
  padding: 1rem 4rem;
}
