.playlist-card {
  display: block;
  width: 400px;
  height: 600px;
  background-color: rgba(128, 123, 123, 0.7);
  border-radius: 5%;
  margin: 1rem 5rem;
  margin-top: 5rem;
  position: absolute;
  transition-duration: 0.5s;
}
.playlist-card:hover {
  background-color: rgba(48, 46, 46, 0.7);
}
.playlist-card img {
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
  object-fit: cover;
  padding: 50px;
}
.playlist-card h1 {
  width: 400px;
  height: calc(600px - 300px);
  text-align: center;
  text-overflow: ellipsis;
  overflow: scroll;
}

.prevCard {
  left: 0;
}

.activeCard {
  left: calc(50% - 200px - 5rem);
}

.nextCard {
  right: 0;
}
.out_of_view {
  right: 0;
  z-index: -10;
}
